.news-item {
  margin-bottom: 2rem;
   background: var(--card-bg);
}

.news-card {
    background: #f3e8ff;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  border: 1px solid #e2e8f0;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.news-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.image-container {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.news-image {
  width: 76%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.news-card:hover .news-image {
  transform: scale(1.05);
}

.source-badge {
  position: absolute;
  top: 12px;
  right: 12px;
  /* background: #3b82f6; */
  background: #367e2f;
  color: white;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  /* text-transform: uppercase; */
}

.news-content {
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* D.M */
    color: var(--text-color);
}

.news-title {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  /* line-height: 1.4; */
  margin-bottom: 0.75rem;
  color: #1f2937;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-description {
  color: #6b7280;
  line-height: 1.6;
  margin-bottom: 0.6rem;
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-meta {
  margin-bottom: 1.25rem;
}

.author-date {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  /* D.M */
    color: var(--text-color);
  opacity: 0.7;
}

.author {
  font-size: 0.875rem;
  font-weight: 600;
  color: #4b5563;
}

.date {
  font-size: 0.8rem;
  color: #9ca3af;
}

.read-more-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  /* background: #3b82f6; */
  background: black;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  justify-content: center;
}

.read-more-btn:hover {
  /* background: #2563eb; */
  background: #408a7a;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(59, 130, 246, 0.3);
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .news-content {
    padding: 1.25rem;
  }
  
  .news-title {
    font-size: 1.1rem;
  }
  
  .image-container {
    height: 180px;
  }
}